body{
    background: black;
}
div,button,input{
    position: relative;
    
}
#mainbody{
    margin-left: 40%;
    margin-top: 2px;
    background: black;
    width: 250px;
    height: 390px;
    border: solid 6px;
    border-color: #fdbb2d;
    border-radius: 1px;
}
#screen{
    border-width: 5px;
    margin-left: 18px;
    width: 85%;
    height: 4ipx;
    margin-top: 13px;
    border-color: #49fd2d;
    border-radius: 1px;
    font-size: xx-large;
    font-family: sans-serif;
    pointer-events: none;
}
.but{
    width: 248px;
    height: 334px;
    margin-left: 1px;
}
.button{
    width: 37px;
    height: 45px;
    margin-top: 16px;
    background: green;
    margin-left: 16px;
    border: solid rgba(0, 0, 0, 0);
    border-radius: 1px;
    font-size: 24px;
    font-weight: 600;
    font-family: sans-serif;
}
.button:hover{
    cursor: pointer;
    background: rgb(60, 180, 60);
    

}