body{
    background: rgb(33, 32, 32);
    
}
div,button,input{
    position: relative;
    
}
#mainbody {
    background: black;
    max-width: 280px; 
    max-height: 510px;
    margin: 20px auto;
    border: solid 6px #080808;
    border-radius: 4px;
    padding: 10px;
}

#screen {
    background: #222;
    color: white;
    font-size: 1.5rem;
    padding: 10px;
    width: 100%; 
}

.but {
    width: 100%;
    margin-top: 10px;
}

.button {
    font-size: 1.25rem;
    font-weight: bold;
    color: white;
    padding: 15px 0;
}

.button.btn-success {
    background-color: #28a745;
}

.button:hover {
    background-color: #333;
}

.oswald-font {
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}